body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

.header-content h1 {
    margin: 0;
}

section {
    margin: 20px;
}

.options-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="button"] {
    width: 100%;
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover {
    background-color: #27ae60;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.footer-content p {
    margin: 0;
}

/* Animation */
.fadeIn {
    animation: fadeInAnimation 1s ease-in-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
